# Server
PORT=3001

# AWS Region
AWS_REGION=ap-southeast-1

# DynamoDB
DYNAMODB_PRODUCTS_TABLE=products_table
DYNAMODB_ORDERS_TABLE=orders_table

# DAX
DAX_ENDPOINT=daxs://your-dax-cluster.xxxxxx.dax-clusters.us-east-1.amazonaws.com

# RDS PostgreSQL
RDS_HOST=your-rds-endpoint.rds.amazonaws.com
RDS_PORT=5432
RDS_DATABASE=providers_db
RDS_USER=dbadmin
RDS_PASSWORD=your-password

# S3
S3_BUCKET=demo-product-images-bucket

# SQS
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/YOUR_ACCOUNT_ID/orders
